@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	font-family: "Montserrat";
}

h1 {
	font-family: "Cal Sans";
}

body {
	background-color: #1a1a1a;
	color: rgba(255, 255, 255, 0.8);
	user-select: none;
}
main:nth-of-type(1) {
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 1;
}

main p {
	color: rgba(255, 255, 255, 0.5);
}

input[type="file"] {
	position: absolute;
	background-color: white;
	width: 100%;
	height: calc(100% - 125px);
	top: 0px;
	opacity: 0;
}

label[for="main_file"] {
	display: inline-block;
	width: 100%;
	height: 200px;
	border: 1px dashed rgba(255, 255, 255, 0.5);
	line-height: 230px;
	border-radius: 5px 5px 0px 0px;
	cursor: pointer;
}
label[for="main_file"] > span {
	display: inline-block;
	line-height: 1.4;
}
label[for="main_file"] > span > span {
	display: block;
}

label[for="main_file"]:hover {
	border: 1px dashed rgba(29, 104, 224);
	color: rgba(29, 104, 224);
}

textarea {
	background-color: transparent;
	display: inline-block;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 0px;
	width: calc(100% - 20px);
	border: 1px dashed rgba(255, 255, 255, 0.5);
	border-radius: 0px 0px 5px 5px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.8);
	margin-top: 0px;
	text-align: center;
	border-top: 0px;
	resize: none;
}
textarea:focus {
	outline: 0;
	border: 1px dashed rgba(29, 104, 224);
	margin-top: -1px;
}
textarea::placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

#view2 {
	position: fixed;
	padding: 30px;
	width: calc(100% - 60px);
	height: calc(100% - 60px);
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 0;
	background-color: #1a1a1a;
}
main.visible {
	z-index: 2 !important;
	opacity: 1 !important;
}

@keyframes spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#loader {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 100%;
	border-top: 0px;
	border-left: 0px;
	animation-name: spinner;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
}

pre {
	font-family: "JetBrains Mono", monospace;
	border: 1px dashed rgba(255, 255, 255, 0.5);
	height: calc(100% - 60px - 30px - 65px - 30px);
	width: calc(100% - 60px - 10px);
	overflow: scroll;
	padding: 30px;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	user-select: text;
	position: relative;
}

.actions {
	height: 65px;
	width: calc(100% - 30px);
	border: 1px dashed rgba(255, 255, 255, 0.5);
	padding: 10px;
	border-radius: 5px;
}

#arrow {
	position: fixed;
	top: calc(50% - 60px);
	height: 100px;
	image-rendering: pixelated;
	left: 50%;
	transform: translateX(-50%);
	filter: brightness(0) saturate(100%) invert(39%) sepia(98%) saturate(1800%) hue-rotate(195deg) brightness(91%) contrast(91%);
}


button {
	background-color: rgba(29, 104, 224);
	color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	font-size: 18px;
	border-radius: 5px;
	cursor: pointer;
	vertical-align: middle;
	outline: 2px solid rgba(15, 80, 200, 0.5);
	border: 0.5px solid rgba(255, 255, 255, 0.2);
	transition: 0.25s all;
}
button .sm {
	margin-left: 10px;
}
button:hover {
	background-color: rgba(29, 104, 224, 0.8);
}

.actions button {
	border-radius: 0px;
}
.actions button:nth-of-type(1) {
	border-radius: 5px 0px 0px 5px;
}
.actions button:nth-last-of-type(1) {
	border-radius: 0px 5px 5px 0px;
}

#jsonActions button:not(#jsonActions button:nth-last-of-type(1), #jsonActions button:nth-last-of-type(2)) {
	width: calc(25% - 34.5px);
}

#urlActions button:not(#urlActions button:nth-last-of-type(1), #urlActions button:nth-last-of-type(2)) {
	width: calc(50% - 65px);
}

#pngActions button:not(#pngActions button:nth-last-of-type(1)) {
	width: calc(25% - 19px);
}

#jpegActions button:not(#jpegActions button:nth-last-of-type(1)) {
	width: calc(25% - 19px);
}

#webpActions button:not(#webpActions button:nth-last-of-type(1)) {
	width: calc(25% - 19px);
}

#qr {
	position: fixed;
	background-color: #1a1a1a;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: 10px;
	padding-top: 0px;
	top: -100%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: 0.25s all;
}
#qr.visible {
	top: 50%;
	opacity: 1;
	z-index: 11;
}
#qr.visible ~ #overlay {
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(3px);
}
canvas {
	width: 250px;
	height: 200px;
	background-color: white;
	border-radius: 5px;
	opacity: 0.8;
}
#qr a {
	text-decoration: none;
	font-size: 25px;
	position: absolute;
	top: 15.5px;
	right: 15px;
}
#qr h5 {
	margin-left: 5px;
}

a {
	color: white;
}

#overlay {
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	transition: 0.25s background-color, 0.25s backdrop-filter;
}

#visualise {
	position: fixed;
	background-color: #1a1a1a;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: 10px;
	padding-top: 0px;
	top: -100%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: 0.25s all;
}
#visualise.visible {
	top: 50%;
	opacity: 1;
	z-index: 11;
}
#visualise.visible ~ #overlay {
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(3px);
}
#visualise iframe {
	width: 500px;
	height: 300px;
	border: 0;
}
#visualise a {
	text-decoration: none;
	font-size: 25px;
	position: absolute;
	top: 15.5px;
	right: 15px;
}
#visualise h5 {
	margin-left: 5px;
}


.conversion {
	position: fixed;
	background-color: #1a1a1a;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: 20px;
	padding-top: 0px;
	top: -100%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: 0.25s all;
}
.conversion.visible {
	top: 50%;
	opacity: 1;
	z-index: 11;
}
.conversion.visible ~ #overlay {
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(3px);
}
.conversion a {
	text-decoration: none;
	font-size: 25px;
	position: absolute;
	top: 15.5px;
	right: 15px;
}
.conversion h5 {
	margin-left: 5px;
}
.conversion button {
	display: block;
	width: 100%;
	padding: 5px;
	margin-top: 10px;
}


select, input {
	background-color: #101010;
	color: white;
	border-radius: 5px;
	border: 1px solid #4a4a4a;
	font-size: 15px;
	padding: 5px;
}

.actions {
	display: none;
}


pre img {
	width: 100%;
	height:100%;
	object-fit: contain;
}


#png_resize, #jpg_resize, #webp_resize {
	position: fixed;
	background-color: #1a1a1a;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: 10px;
	padding-top: 0px;
	top: -100%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: 0.25s all;
}
#png_resize.visible, #jpg_resize.visible, #webp_resize.visible {
	top: 50%;
	opacity: 1;
	z-index: 11;
}
#png_resize.visible ~ #overlay, #jpg_resize.visible ~ #overlay, #webp_resize.visible ~ #overlay {
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(3px);
}
#png_resize a, #jpg_resize a, #webp_resize a {
	text-decoration: none;
	font-size: 25px;
	position: absolute;
	top: 15.5px;
	right: 15px;
}
#png_resize input:not(input[type="checkbox"]), #jpg_resize input:not(input[type="checkbox"]), #webp_resize input:not(input[type="checkbox"]) {
	width: calc(50% - 23px);
}
#png_resize canvas, #jpg_resize canvas, #webp_resize canvas {
	margin-top: 10px;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#crop {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
#overlayc {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
#rsz {
	backdrop-filter: brightness(1.5);
	position: absolute;
	top: 5px;
	left: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	border: 1px dashed rgba(29, 104, 224);
	resize: both;
	overflow: auto;
}